body{
margin:0;
background:#020617;
color:#00ff9c;
font-family:monospace;
text-align:center;
}

/* estrellas */

.stars{
position:fixed;
width:100%;
height:100%;
z-index:-1;
}

.stars::after{
content:"";
position:absolute;
width:2px;
height:2px;
background:white;
box-shadow:
100px 200px white,
300px 400px white,
500px 150px white,
700px 350px white,
900px 250px white,
200px 500px white,
800px 600px white,
600px 300px white,
150px 100px white,
450px 550px white,
850px 400px white,
250px 750px white,
550px 50px white,
950px 100px white,
350px 650px white,
1000px 500px white,
400px 150px white,
200px 350px white,
700px 750px white;

animation:starsMove 20s linear infinite;
}

@keyframes starsMove{
from{transform:translateY(0)}
to{transform:translateY(-1000px)}
}

/* contenedor */

.container{
max-width:700px;
margin:auto;
padding:40px 20px;
}

/* terminal */

#terminal{
text-align:left;
white-space:pre-line;
font-size:18px;
margin-bottom:40px;
color:#00ff9c;
}

/* manuscrito */

#contenido{
color:white;
font-family:'Dancing Script',cursive;
font-size:34px;
line-height:1.8;
margin-bottom:40px;
display:none;
animation:aparecer 1s ease;
}

@keyframes aparecer{
from{
opacity:0;
transform:translateY(10px);
}
to{
opacity:1;
transform:translateY(0);
}
}

/* botón */

button{
padding:15px 35px;
font-size:18px;
border:none;
border-radius:12px;
background:#38bdf8;
color:white;
cursor:pointer;
transition:.3s;
}

button:hover{
background:#0ea5e9;
transform:scale(1.08);
}

/* corazón */

.heart{
font-size:90px;
animation:latido 1.2s infinite;
filter:drop-shadow(0 0 10px red);
}

@keyframes latido{
0%{transform:scale(1)}
25%{transform:scale(1.2)}
40%{transform:scale(1)}
60%{transform:scale(1.25)}
100%{transform:scale(1)}
}

.fadeOut{
opacity:0;
transition:1s;
}

/* HOJA / CARTA */

.hoja{
display:none;
margin:40px auto;
padding:40px 50px;

max-width:650px;

background:#fffdf5;
color:#2b2b2b;

border-radius:8px;

box-shadow:
0 0 0 1px rgba(0,0,0,0.08),
0 8px 30px rgba(0,0,0,0.25);

position:relative;

background-image:
linear-gradient(#ece6d6 1px, transparent 1px);

background-size:100% 32px;
}

/* efecto borde de papel */

.hoja::before{
content:"";
position:absolute;
top:0;
left:0;
right:0;
height:8px;

background:linear-gradient(
90deg,
#f8f3e6,
#e9e2cf,
#f8f3e6
);
}

/* texto manuscrito dentro */

.hoja #contenido{
color:#2b2b2b;
font-family:'Caveat',cursive;
font-size:34px;
line-height:1.8;
}

/* lista centrada */

.hoja ul{
text-align:left;
margin:auto;
}